// Custom styles.
body {
    background:url(http://static.simpledesktops.com/uploads/desktops/2015/07/11/Yosemite-Color-Block.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
	background-size:cover
}

.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.8;
    min-height: 500px;
}